
<h1>Create a New Landmark</h1>
<form method="post" action="/landmarks">
  
  <p>Name: <input type="text" name="landmark[name]" id="landmark_name"></p>
  <p>Year_Completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed"></p>
  
  <p>Choose From the figures</p>
  <% Figure.all.each do |figure| %>
    <input type="radio" name="figure_name_1" id="figure_name_1" value="<%= figure.id %>"><%= figure.name %></input>
  <% end %>
  
  <br></br>
  
  <p>Or Create a new figure</p>
  <p>landmark: <input type="text" name="figure_name_2" id="new_landmark"></p>
  <br></br>
  <p>Chosse from the titles</p>
  <% Title.all.each do |title| %>
    <input type="checkbox" name="landmark[title_ids][]" id="title_<%= title.id %>" value="<%= title.id %>"><%= title.name %></input>
  <% end %>
  
  <br></br>
  
  <p>or create a new title</p>
  
  <p>title: <input type="text" name="title[name]" id="new_title"></p>
  
  <input type="submit" value="Create New Landmark">
  
</form>